<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis consectetur risus, eu luctus lectus aliquet a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus fermentum ligula eu convallis. Sed varius auctor odio nec hendrerit. In ac condimentum libero, nec tristique turpis. Proin egestas ullamcorper ex, ac vulputate orci viverra et. Vivamus mollis imperdiet feugiat. Vivamus non feugiat justo, at eleifend sapien. Nullam augue dolor, pretium vitae mollis eu, scelerisque ac augue. Aenean faucibus ac magna id mollis. Praesent vel varius lorem. Vestibulum malesuada dolor in tortor varius, ut convallis mauris consequat. Sed laoreet velit vitae diam blandit, id suscipit lorem cursus. Nulla nulla sapien, dignissim vitae dapibus a, mollis ut tortor.</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>email@emaiil.com</li>
        <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
        <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
